<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://iepprojekatps120511.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iepprojekatps120511.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IEPProjekatPS120511</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IEPProjekatPS120511</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IEPProjekatPS120511_dbEntities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEPProjekatPS120511.Models.IEPProjekatPS120511_dbEntities2, IEPProjekatPS120511" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IEPProjekatPS120511_dbEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xng0j4w1zc.database.windows.net;Initial Catalog=IEPProjekatPS120511_db;User ID=Pantela;Password=Stefan93;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IEPProjekatPS120511_dbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.UserInfo.csdl|res://*/Models.UserInfo.ssdl|res://*/Models.UserInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xng0j4w1zc.database.windows.net;initial catalog=IEPProjekatPS120511_db;user id=Pantela;password=Stefan93;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:xng0j4w1zc.database.windows.net,1433;Initial Catalog=IEPProjekatPS120511_db;User ID=Pantela@xng0j4w1zc;Password=Stefan93" Name="Data Source=tcp:xng0j4w1zc.database.windows.net,1433;Initial Catalog=IEPProjekatPS120511_db;User Id=Pantela@xng0j4w1zc;Password=Stefan93;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEPProjekatPS120511.Models.ApplicationDbContext, IEPProjekatPS120511" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IEPProjekatPS120511_dbEntities3" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEPProjekatPS120511.Models.IEPProjekatPS120511_dbEntities3, IEPProjekatPS120511" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IEPProjekatPS120511_dbEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xng0j4w1zc.database.windows.net;Initial Catalog=IEPProjekatPS120511_db;User ID=Pantela;Password=Stefan93;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IEPProjekatPS120511_dbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Product.csdl|res://*/Models.Product.ssdl|res://*/Models.Product.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xng0j4w1zc.database.windows.net;initial catalog=IEPProjekatPS120511_db;user id=Pantela;password=Stefan93;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IEPProjekatPS120511_dbEntities5" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEPProjekatPS120511.Models.IEPProjekatPS120511_dbEntities5, IEPProjekatPS120511" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IEPProjekatPS120511_dbEntities4" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xng0j4w1zc.database.windows.net;Initial Catalog=IEPProjekatPS120511_db;User ID=Pantela;Password=Stefan93;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IEPProjekatPS120511_dbEntities4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Order.csdl|res://*/Models.Order.ssdl|res://*/Models.Order.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xng0j4w1zc.database.windows.net;initial catalog=IEPProjekatPS120511_db;user id=Pantela;password=Stefan93;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xng0j4w1zc.database.windows.net,1433;Initial Catalog=IEPProjekatPS120511_db;User Id=Pantela@xng0j4w1zc;Password=Stefan93;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IEPProjekatPS120511_dbEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IEPProjekatPS120511_dbEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IEPProjekatPS120511_dbEntities5-Web.config Connection String" />
  </ItemGroup>
</Project>