<?xml version="1.0"?>

<configuration>
  
  <location path="Index_Admin.cshtml">

    <system.web>
      <authorization>
        <allow roles="SuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Details_Admin.cshtml">

    <system.web>
      <authorization>
        <allow roles="SuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Delete.cshtml">

    <system.web>
      <authorization>
        <allow roles="SuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Create.cshtml">

    <system.web>
      <authorization>
        <allow roles="SuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Edit.cshtml">

    <system.web>
      <authorization>
        <allow roles="SuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>



</configuration>
