@{
    ViewBag.Title = "About";
}

@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


<h2>@ViewBag.Title.</h2>


<body>
    <div style="height:210px">
        <center><h2>IEP SW shop</h2></center>

        <hr />
        <div style="width:50%; float:left; height:200px; ;border-right:solid;">
            Ovo je projekat iz predmeta Infrastruktura za elektronsko poslovanje na trecoj godini 
            <br>
            Softverskog Inzenjerstva.
            <br>
            U pitanju je interenet prodavnica softverskih proizvoda sa opcijama placanja preko sms servisa.
            <br>
            Tehnologija izrade: ASP .NET
            <br>
            Infrastruktura:Azure

        </div>
        <div style="width:50%; height:200px; border-left:solid; float:right"> &nbsp;&nbsp;
            This is project from Infrastructure for Electronic Business course at third year of
            <br>
            &nbsp;&nbsp;Software engineering 
            <br>
            &nbsp;&nbsp; It is about web shop for software products with option for paying products via sms
            <br>
            &nbsp;&nbsp; Technology used: ASP .NET
            <br>
            &nbsp;&nbsp; Infrastructure:Azure
        </div>

    </div>
    <div>
        <br><br>
        <hr />
        Literatura/Literature:
        <br>
        <a href="http://www.asp.net/web-forms/overview">ASP .NET</a>
        <br>
        <a href="https://msdn.microsoft.com/library">MSDN</a>
        <br>
        <a href="http://rti.etf.bg.ac.rs/rti/si3iep/index.html">Course web site</a>
</div>


</body>