@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/start.cshtml";
}


<center><h2 style="color:#ffffff">Welcome <br> IEP sw Shop</h2></center>

<div class="headerStart">

    <center><p><a class="btn btn-default" @Html.ActionLink("Login", "Login", "Account")</a></p></center>

</div>
<br>
<div class="headerStart">

    <center><p><a class="btn btn-default" @Html.ActionLink("Register", "Register", "Account")</a></p></center>
</div>
<br>
<div class="headerStart">

    <center><p><a class="btn btn-default" @Html.ActionLink("Browse as Guest", "Index_Guest", "SW_Product")</a></p></center>
</div>

